@import "tailwindcss";

:root {
  --background: 255 255 255;
  --foreground: 9 9 11;
}

@theme inline {
  --color-background: rgb(var(--background));
  --color-foreground: rgb(var(--foreground));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 9 9 11;
    --foreground: 250 250 250;
  }
}

html,
body {
  height: 100%;
}

body {
  background: rgb(var(--background));
  color: rgb(var(--foreground));
}

.bg-noise {
  background-image: radial-gradient(rgb(0 0 0 / 0.08) 1px, transparent 1px);
  background-size: 20px 20px;
}

.dark .bg-noise {
  background-image: radial-gradient(
    rgb(255 255 255 / 0.1) 1px,
    transparent 1px
  );
}
